MODE=development

# dependencies services
NATS_URL=http://nats:4222
GOOGLE_KEY=GOOGLE_KEY       # for google fact checks search

# database params
DATABASE_HOST=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=dega 
DATABASE_PORT=5432 
DATABASE_SSL_MODE=disable

# set this to true if want to use sqlite db
USE_SQLITE=false
SQLITE_DB_PATH=dega.db
TEMPLATES_PATH=web/templates/*

ENABLE_HUKZ=true        # include hukz in docker-compose and give HUKZ_URL, NATS_URL, NATS_USER_NAME & NATS_USER_PASSWORD
ENABLE_FEEDS=true
ENABLE_SEARCH_INDEXING=true     # include meilisearch in docker-compost and give MEILI_KEY & MEILI_URL

MEILI_URL=http://meilisearch:7700
MEILI_KEY=password

NATS_URL=nats://nats:4222
NATS_USER_NAME=natsuser
NATS_USER_PASSWORD=natspassword
HUKZ_URL=http://hukz:8000

DEGA_APPLICATION_ID=1
ORGANISATION_PERMISSION_ENABLED=false