.list-item-action {
	transition: opacity 0.2s ease-in-out !important;
}

.list-item-action:hover {
	background: #f5f5f5 !important;
	border: 0 !important;
}

.list-item {
	transition: background 0.2s ease-in-out !important;
	padding: 10px;
	cursor: pointer;
}

.list-item:hover {
	background: #f5f5f5 !important;
	border-bottom: 3px solid #1890FF !important;
	border-radius: 8px !important;
}

.list-item:hover .list-item-action {
	opacity: 1 !important;
}

.delete-modal-container .ant-modal-content {
	width: 400px !important;
	/* border-radius: 8px !important; */
}

.org-space-list .ant-list-header {
	padding: 0 !important;
	padding-bottom: 8px !important;
}

.org-space-list .ant-empty {
	margin: 0;
}
