MODE=development

# dependencies services
KAVACH_URL=http://kavach-server:8000
IMAGEPROXY_URL=http://127.0.0.1:7001
KETO_READ_API_URL=http://keto:4466
NATS_URL=http://nats:4222
KRATOS_PUBLIC_URL=http://kratos:4433
IFRAMELY_URL=http://iframely:8061
OATHKEEPER_HOST=oathkeeper:4455

GOOGLE_KEY=GOOGLE_KEY       # for google fact checks search

# database params
DATABASE_HOST=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=dega
DATABASE_PORT=5432
DATABASE_SSL_MODE=disable

# set this to true if want to use sqlite db
USE_SQLITE=false
SQLITE_DB_PATH=dega.db

TEMPLATES_PATH=web/templates/*

DEFAULT_NUMBER_OF_MEDIA=10
DEFAULT_NUMBER_OF_SPACES=2
DEFAULT_NUMBER_OF_POSTS=10

CREATE_SUPER_ORGANISATION=true      # give SUPER_ORGANISATION_TITLE, DEFAULT_USER_EMAIL & DEFAULT_USER_PASSWORD

ENABLE_HUKZ=true        # include hukz in docker-compose and give HUKZ_URL, NATS_URL, NATS_USER_NAME & NATS_USER_PASSWORD
ENABLE_FEEDS=true
ENABLE_SEARCH_INDEXING=true     # include meilisearch in docker-compost and give MEILI_KEY & MEILI_URL

MEILI_URL=http://meilisearch:7700
MEILI_API_KEY=password
MEILISEARCH_INDEX=dega

NATS_URL=nats://nats:4222
NATS_USER_NAME=natsuser
NATS_USER_PASSWORD=natspassword
HUKZ_URL=http://hukz:8000

ORGANISATION_PERMISSION_ENABLED=false
