MODE=development

# dependencies services
KAVACH_URL=http://kavach-server:8000
IMAGEPROXY_URL=http://127.0.0.1:7001
KETO_URL=http://keto:4466
NATS_URL=http://nats:4222
KRATOS_PUBLIC_URL=http://kratos:4433
IFRAMELY_URL=http://iframely:8061
OATHKEEPER_HOST=oathkeeper:4455

GOOGLE_FACT_CHECK_SEARCH_ENABLED=false
GOOGLE_KEY=GOOGLE_KEY       # for google fact checks search

# set this to true if want to use sqlite db
USE_SQLITE=true
SQLITE_DB_PATH=dega.db

DEFAULT_NUMBER_OF_MEDIA=10
DEFAULT_NUMBER_OF_SPACES=2
DEFAULT_NUMBER_OF_POSTS=10

CREATE_SUPER_ORGANISATION=true      # give SUPER_ORGANISATION_TITLE, DEFAULT_USER_EMAIL & DEFAULT_USER_PASSWORD
SUPER_ORGANISATION_TITLE='Dega Administration'
DEFAULT_USER_EMAIL=admin@dega.in
DEFAULT_USER_PASSWORD=2ssad32sadADSd@!@4

ENABLE_HUKZ=false        # include hukz in docker-compose and give HUKZ_URL, NATS_URL, NATS_USER_NAME & NATS_USER_PASSWORD
ENABLE_FEEDS=false
ENABLE_SEARCH_INDEXING=false     # include meilisearch in docker-compost and give MEILI_KEY & MEILI_URL

ORGANISATION_PERMISSION_ENABLED=false