MODE=development

KAVACH_URL=http://kavach-server:8000
IMAGEPROXY_URL=http://127.0.0.1:7001
KETO_URL=http://keto:4466
NATS_URL=http://nats:4222
KRATOS_PUBLIC_URL=http://kratos:4433
IFRAMELY_URL=http://iframely:8061
OATHKEEPER_HOST=oathkeeper:4455

MEILI_URL=http://meilisearch:7700
MEILI_KEY=password

GOOGLE_KEY=GOOGLE_KEY

DATABASE_HOST=postgres 
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=dega 
DATABASE_PORT=5432 
DATABASE_SSL_MODE=disable

TEMPLATES_PATH=web/templates/*

DEFAULT_NUMBER_OF_MEDIA=10
DEFAULT_NUMBER_OF_SPACES=2
DEFAULT_NUMBER_OF_POSTS=10

CREATE_SUPER_ORGANISATION=true
SUPER_ORGANISATION_TITLE='Dega Administration'
DEFAULT_USER_EMAIL=admin@dega.in
DEFAULT_USER_PASSWORD=password