<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/main.css">
  <title>{{.post.Slug}}</title>
</head>
<body>
  <h1>{{.post.Title}}<h1>
  <h3>{{.post.Excerpt}}</h3>
  <div id="post_description" class="description">
    {{.HTMLDesc}}
  </div>
  
</body>
</html>