body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ce-toolbar__content {
  max-width: 1000px;
}

.ce-block__content {
  max-width: 1000px;
}

.ant-modal-content {
  width: 800px;
}

.menu-logo {
  height: 36px;
  width: 36px;
}

.ant-collapse-item-active {
  border: 0 !important;
}

.ant-collapse-header {
  padding: 1rem 0 !important;
  font-weight: 600 !important;
}

.ant-collapse-item-active .ant-collapse-header {
  color: #3473ed !important;
  font-weight: 600 !important;
}

.ant-collapse-content-box {
  padding-left: 0 !important;
}
