DATABASE_HOST=postgres 
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=dega 
DATABASE_PORT=5432 
DATABASE_SSL_MODE=disable

USE_SQLITE=true
SQLITE_DB_PATH=dega.db

KAVACH_URL=http://kavach-server:8000
PUBLIC_PREFIX=http://127.0.0.1:4455/.factly/dega/templates