.ce-inline-toolbar,
.ce-conversion-toolbar.ce-conversion-toolbar--showed {
  background: linear-gradient(to bottom, rgba(49, 49, 47, 0.99), #262625);
  background-repeat: repeat-x;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ce-conversion-toolbar__label {
  color: #fff;
}

.cdx-marker {
  background: rgba(12, 235, 160, 0.9);
}

.ce-inline-toolbar svg,
.ce-inline-tool .icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
}
.ce-inline-tool-input.ce-inline-tool-input--showed {
  min-width: 350px;

  color: #fff;
  background: linear-gradient(to bottom, rgba(49, 49, 47, 0.99), #262625);
}
.ce-inline-tool-input::placeholder {
  color: #fff;
}
.ce-inline-tool {
  color: white;
}
.ce-inline-toolbar__dropdown,
.ce-inline-tool {
  padding: 0.375rem;
}

.ce-inline-toolbar__dropdown:hover,
.ce-inline-tool:hover,
.ce-conversion-tool:hover,
.ce-conversion-tool.ce-conversion-tool--focused {
  background: #757575;
}
.ce-conversion-tool.ce-conversion-tool--focused {
  box-shadow: none !important;
  background: #757575 !important;
}
.ce-conversion-tool__icon {
  color: black;
}
.codex-editor {
  word-spacing: 5px;
}
