DATABASE_HOST=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=dega 
DATABASE_PORT=5432 
DATABASE_SSL_MODE=disable

USE_SQLITE=true
SQLITE_DB_PATH=dega.db

KAVACH_URL=http://kavach-server:8000

ENABLE_CACHE=false
REDIS_URL=redis:6379
REDIS_PASSWORD=redispass

ENABLE_SEARCH_INDEXING=true
MEILI_URL=http://meilisearch:7700
MEILI_API_KEY=password